<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>refds.budget.update.icons</string>
	</array>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>Budget File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>br.com.rafaelescaleira.Budget</string>
			</array>
		</dict>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AnimatedIcon1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon1</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon10</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon10</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon11</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon11</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon12</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon12</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon13</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon13</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon14</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon14</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon15</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon15</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon16</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon16</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon17</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon17</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon18</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon18</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon19</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon19</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon20</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon20</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon21</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon21</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon22</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon22</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon23</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon23</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon24</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon24</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon25</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon25</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon26</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon26</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon27</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon27</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon28</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon28</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon29</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon29</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon3</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon30</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon30</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon31</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon31</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon32</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon32</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon33</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon33</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon34</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon34</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon35</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon35</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon36</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon36</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon37</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon37</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon38</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon38</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon39</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon39</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon4</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon40</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon40</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon41</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon41</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon42</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon42</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon43</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon43</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon44</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon44</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon45</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon45</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon46</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon46</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon47</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon47</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon48</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon48</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon49</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon49</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon50</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon50</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon6</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon6</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon7</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon7</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon8</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon8</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AnimatedIcon9</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AnimatedIcon9</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>br.com.rafaelescaleira.Budget</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>refdsbudget</string>
			</array>
		</dict>
	</array>
	<key>Configuration</key>
	<string>$(CONFIGURATION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Budget File</string>
			<key>UTTypeIcons</key>
			<dict/>
			<key>UTTypeIdentifier</key>
			<string>br.com.rafaelescaleira.Budget</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>budget</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Budget File</string>
			<key>UTTypeIcons</key>
			<dict/>
			<key>UTTypeIdentifier</key>
			<string>br.com.rafaelescaleira.Budget</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>budget</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
